<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- load bootsrtap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    </div>
    <div class="container">
        <h1>Simple Note using Node Js Express, MongoDb and Bootstrap</h1>
        <hr>
        <a href="/"><button class="btn btn-primary">Home</button></a>
        <hr>
        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>List Notes</h2>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <td>Title</td>
                            <td>Content</td>
                            <th scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < notes.length; i++) { %>
                        <tr>
                            <th scope="row"><%= i+1 %> </th>
                            <td><%= notes[i].title %></td>
                            <td><%= notes[i].content %></td>
                            <td><a href="notes/<%= notes[i]._id %>"><button class="btn btn-primary">Check</button></a>
                                <a href="notes/delete/<%= notes[i]._id %>"><button
                                        class="btn btn-danger">Delete</button></a></td>
                        </tr>
                        <% } %>

                    </tbody>
                </table>
            </div>

            <div class="col-md-4 mb-5">
                <h2>Add Note</h2>
                <form action="/notes" method="POST">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter the title">
                        <small id="title" class="form-text text-muted">Name of your concert</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Content</label>
                        <input type="text" class="form-control" id="content" name="content" placeholder="Enter content">
                        <small id="emailHelp" class="form-text text-muted">it can be the content</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
        <br>
        <hr>
    </div>

</body>

</html>